.skills {
    background-color: indianred;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.skills-heading {
    color: #fff;
    font-size: 60px;
    text-decoration: underline;
}