.about {
    background-color: lightpink;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.about-heading {
    color: #fff;
    font-size: 60px;
    text-decoration: underline;
}

