.app {
    height: 100vh;
}

.sections {
    width: 100%;
    /*height: calc(100vh - 85px);*/
    background-color: lightsalmon;
    position: relative;
    /*scroll-behavior: smooth;*/
    /*scroll-snap-type: y mandatory;*/
    z-index: -1;
}

.sections > *{
    width: 100%;
    /*height: calc(100vh - 85px);*/
    /*scroll-snap-align: start;*/
}