.app {
    height: 100vh;
}

.sections {
    width: 100%;
    height: calc(100vh - 85px);
    background-color: lightsalmon;
    position: relative;
    top: 85px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.sections > *{
    width: 100%;
    height: calc(100vh - 85px);
    scroll-snap-align: start;
}